.downloadButton,
.navBarMenuItem {
  color: #fff;
  display: inline-block;
}
.button,
.downloadButton,
.section_1 {
  text-align: center;
}
.downloadButton,
.dropdown_list {
  text-decoration: none;
  font-size: 16px;
}
.footerNavTabItem,
.navBarMenuItem,
.section_5_icon > figcaption {
  font-family: Roboto, sans-serif;
  font-weight: 100;
}
body,
html {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  top: 0 !important;
  overflow-x: hidden !important;
  min-width: 320px;
}
.section_1 {
  width: 100%;
  height: 683px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
}
.logoImage {
  padding-top: 2%;
  padding-left: 8%;
  float: left;
}
.overlayImage {
  position: absolute;
  bottom: -4px;
  width: 100%;
}
.navBar {
  height: 54px;
}
.navBarMenu {
  float: right;
  padding-top: 3%;
  padding-right: 6%;
}
.navBarMenuItem {
  font-size: 18px;
  padding: 8px;
}
.navBarMenuItem:hover {
  color: #4caf50;
}
.downloadButton {
  background-color: #4caf50;
  border: 4px solid rgba(47, 79, 79, 0.3);
  border-radius: 4px;
  padding: 15px 32px;
  margin: 4px 2px;
  cursor: pointer;
}
.button {
  padding-top: 1%;
}
.material-icons {
  vertical-align: middle;
}
.dropdown {
  width: 300px;
  left: 50%;
  margin-left: -150px;
  position: absolute;
}
.dropdown_content {
  display: none;
  background-color: #f9f9f9;
  width: 330px;
  left: 50%;
  margin-left: -16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  border-radius: 4px;
  z-index: 200;
}
.dropdown:hover .dropdown_content {
  display: block;
  background-color: #f1f1f1;
}
.dropdown_header {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: #878787;
}
.dropdown_list {
  font-family: Roboto, sans-serif;
  color: #444;
}
.drop_links {
  text-decoration: none !important;
  padding: 4px;
}
.dropdown_content_left {
  left: 0;
  text-align: left;
  vertical-align: top;
  position: relative;
  width: 45%;
}
.center_align,
.section_2,
.section_3,
.section_5,
div.desc {
  text-align: center;
}
.dropdown_content_right {
  vertical-align: top;
  right: 0 !important;
  width: 45% !important;
}
.divider {
  background: #ddd;
  width: 1.5px;
  height: 160px;
  margin-top: 20px;
}
.section_2 {
  width: 100%;
  padding: 5% 6% 5% 8%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.display_inline,
.footerNavTabItem {
  display: inline-block;
}
* {
  box-sizing: border-box;
}
.quote {
  width: 100% !important;
}
.quote_symbol {
  color: #b3b2b2 !important;
  font-size: 35px !important;
  width: 5% !important;
}
.section_3 {
  width: 60%;
  margin: 0 auto;
}
.section_4 {
  padding-top: 2%;
  padding-bottom: 4%;
}
.userLogo {
border-radius: 50%;
}
.section_5 {
  height: 258px;
  padding: 3.5%;
  width: 100%;
  background: url(https://res.cloudinary.com/shubhi/image/upload/v1480270389/section_5_background_byll96.jpg);
  background-size: cover;
}
.section_5_icon {
  padding: 2%;
}
.section_5_icon > figcaption {
  color: #b3b2b2;
  position: relative;
  font-size: 12px;
  margin-top: 35%;
}
.footerNavTabItem {
  font-size: 16px;
  color: #989797;
  text-decoration: underline;
}
.v_align {
  vertical-align: super;
}
@media only screen and (min-width: 320px) {
  .logoImage {
    padding-top: 6%;
    padding-left: 8%;
    float: left;
  }
  .overlayImage {
    display: none;
  }
  .navBarMenu {
    float: right;
    padding-top: 8%;
    padding-right: 6%;
  }
  .navBarMenuItem {
    display: inline-block;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    color: #444;
    padding: 8px;
  }
  .section_1_heading,
  .section_1_sub {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .footerNavTab,
  .footerText {
    float: left;
    padding-left: 8%;
  }
  .section_1_heading {
    font-size: 30px;
    margin-top: 0;
    padding-top: 30%;
    font-weight: 900;
  }
  .section_1_sub {
    font-size: 16px;
    line-height: 0.7;
  }
  .section_2_col {
    width: 100%;
  }
  .icons,
  .quote {
    width: 30%;
  }
  .section_2_heading {
    font-size: 24px;
    color: #303030;
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .section_2_sub {
    font-size: 16px;
    color: #6d6d6d;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    line-height: 1.3;
  }
  .section_3_5_heading,
  .section_4_heading,
  .section_4_sub {
    color: #303030;
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .section_3_5_heading {
    font-size: 24px;
    margin-bottom: 0 !important;
  }
  .section_4_heading {
    font-size: 14px;
    text-align: left;
  }
  .section_4_sub {
    font-size: 12px;
    line-height: 1.3;
  }
  .quote {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: #6d6d6d;
    font-weight: 100;
    word-wrap: break-word;
  }
  .footer {
    background-color: #e3e3e3;
    height: 84px;
    width: 100%;
  }
  .footerNavTab {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding-top: 2%;
  }
  .footerText {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #989797;
  }
}
@media only screen and (min-width: 480px) {
  .logoImage {
    padding-top: 6%;
    padding-left: 8%;
    float: left;
  }
  .overlayImage {
    display: none;
  }
  .navBarMenu {
    float: right;
    padding-top: 8%;
    padding-right: 6%;
  }
  .navBarMenuItem {
    display: inline-block;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    color: #444;
    padding: 8px;
  }
  .section_1_heading,
  .section_1_sub {
    color: #fff ;
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .footerNavTab,
  .footerText {
    float: left;
    padding-left: 8%;
  }
  .section_1_heading {
    font-size: 30px;
    margin-top: 0;
    padding-top: 30%;
  }
  .section_1_sub {
    font-size: 16px;
    line-height: 0.7;
  }
  .section_2_col {
    width: 100%;
  }
  .section_2_heading {
    font-size: 24px;
    color: #303030;
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .section_2_sub {
    font-size: 16px;
    color: #6d6d6d;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    line-height: 1.3;
  }
  .section_3_5_heading,
  .section_4_heading,
  .section_4_sub {
    color: #303030;
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .section_3_5_heading {
    font-size: 24px;
    margin-top: 0 !important;
  }
  .section_4_heading {
    font-size: 16px;
    text-align: left;
  }
  .section_4_sub {
    font-size: 14px;
    line-height: 1.3;
  }
  .icons {
    width: 30%;
  }
  .quote {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: #6d6d6d;
    font-weight: 100;
    word-wrap: break-word;
  }
  .footer {
    background-color: #e3e3e3;
    height: 84px;
    width: 100%;
  }
  .footerNavTab {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding-top: 2%;
  }
  .footerText {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #989797;
  }
}
@media only screen and (min-width: 520px) {
  .navBarMenuItem,
  .section_1_heading,
  .section_1_sub,
  .section_2_heading {
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .overlayImage {
    display: block;
  }
  .logoImage {
    padding-top: 2%;
    padding-left: 8%;
    float: left;
  }
  .navBarMenu {
    float: right;
    padding-top: 3%;
    padding-right: 6%;
  }
  .navBarMenuItem {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 8px;
  }
  .section_1_heading {
    font-size: 40px;
    color: #fff;
    margin-top: 0;
    padding-top: 8%;
  }
  .section_1_sub {
    font-size: 20px;
    color: #fff;
    line-height: 0.7;
  }
  .section_2_col {
    float: left;
    width: 28%;
    margin: 2%;
  }
  .section_2_heading {
    font-size: 24px;
    color: #303030;
  }
  .section_2_sub {
    font-size: 16px;
    color: #6d6d6d;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    line-height: 1.3;
  }
  .section_3_5_heading,
  .section_4_heading,
  .section_4_sub {
    color: #303030;
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .section_3_5_heading {
    font-size: 24px;
    margin-top: 0 !important;
  }
  .section_4_heading {
    font-size: 18px;
    text-align: left;
  }
  .section_4_sub {
    font-size: 16px;
    line-height: 1.3;
  }
  .icons {
    width: 30%;
  }
  .quote {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    color: #6d6d6d;
    font-weight: 100;
    line-height: 1.5;
    word-wrap: break-word;
  }
  .footer {
    background-color: #e3e3e3;
    height: 54px;
    width: 100%;
  }
  .footerNavTab {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 16px;
    float: left;
    padding-top: 1%;
    padding-left: 8%;
  }
  .footerText {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #989797;
    float: right;
    padding-right: 8%;
  }
}
@media only screen and (min-width: 992px) {
  .navBarMenuItem,
  .section_1_heading,
  .section_1_sub,
  .section_2_heading,
  .section_2_sub,
  .section_3_5_heading,
  .section_4_heading {
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .overlayImage {
    display: block;
  }
  .logoImage {
    padding-top: 2%;
    padding-left: 8%;
    float: left;
  }
  .navBarMenu {
    float: right;
    padding-top: 3%;
    padding-right: 6%;
  }
  .navBarMenuItem {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 8px;
  }
  .section_1_heading {
    font-size: 40px;
    color: #FFF;
    margin-top: 0;
    padding-top: 8%;
  }
  .section_1_sub {
    font-size: 20px;
    color: #fff;
    line-height: 0.7;
  }
  .section_2_col {
    float: left;
    width: 28%;
    margin: 2%;
  }
  .section_2_heading {
    font-size: 24px;
    color: #303030;
  }
  .section_2_sub {
    font-size: 16px;
    color: #6d6d6d;
    line-height: 1.3;
  }
  .section_3_5_heading {
    font-size: 24px;
    color: #303030;
    margin-top: 0 !important;
  }
  .section_4_heading {
    font-size: 18px;
    color: #303030;
    text-align: left;
  }
  .section_4_sub {
    font-size: 16px;
    color: #303030;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    line-height: 1.3;
  }
  .footerNavTab,
  .quote {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .icons {
    width: 30%;
  }
  .quote {
    color: #6d6d6d;
    line-height: 1.5;
    word-wrap: break-word;
  }
  .footer {
    background-color: #e3e3e3;
    height: 54px;
    width: 100%;
  }
  .footerNavTab {
    float: left;
    padding-top: 1%;
    padding-left: 8%;
  }
  .footerText {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #989797;
    float: right;
    padding-right: 8%;
  }
}
@media only screen and (min-width: 1200px) {
  .navBarMenuItem,
  .section_1_heading,
  .section_1_sub,
  .section_2_heading,
  .section_2_sub,
  .section_3_5_heading,
  .section_4_heading {
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .overlayImage {
    display: block;
  }
  .logoImage {
    padding-top: 2%;
    padding-left: 8%;
    float: left;
  }
  .navBarMenu {
    float: right;
    padding-top: 3%;
    padding-right: 6%;
  }
  .navBarMenuItem {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 8px;
  }
  .section_1_heading {
    font-size: 40px;
    color: #FFF;
    margin-top: 0;
    padding-top: 8%;
    font-weight: 900;
  }
  .section_1_sub {
    font-size: 20px;
    color: #fff;
    line-height: 0.7;
  }
  .section_2_col {
    float: left;
    width: 28%;
    margin: 2%;
  }
  .section_2_heading {
    font-size: 24px;
    color: #303030;
  }
  .section_2_sub {
    font-size: 16px;
    color: #6d6d6d;
    line-height: 1.3;
  }
  .section_3_5_heading {
    font-size: 32px;
    color: #303030;
    margin-top: 0 !important;
  }
  .section_4_heading {
    font-size: 18px;
    color: #303030;
  }
  .section_4_sub {
    font-size: 16px;
    color: #303030;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    line-height: 1.3;
  }
  .footerNavTab,
  .quote {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .icons {
    width: 30%;
  }
  .quote {
    color: #6d6d6d;
    line-height: 1.5;
    word-wrap: break-word;
  }
  .footer {
    background-color: #e3e3e3;
    height: 54px;
    width: 100%;
  }
  .footerNavTab {
    float: left;
    padding-top: 1%;
    padding-left: 8%;
  }
  .footerText {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #989797;
    float: right;
    padding-right: 8%;
  }
}







:root{
  --white-color         : rgb(255, 255, 255);
  --balck-color         : rgb(0, 0, 0);
  --body-BG-color       : rgb(225, 232, 255);
  --wrapper-shadow-color: rgba(255, 255, 255, 0.439);
  --aside-area-BG-color :rgb(76, 175, 80);
  --error-color         : rgb(231, 76, 60);
  --success-color       : rgb(46, 204, 113);
  --primary-light-gray  : rgb(184, 180, 180);
  --primary-color       :rgb(76, 175, 80);
  --light-blue-color    : rgb(141 162 246);
  --input-border-color  : rgb(152, 169, 192);
  --paragraph-color     : rgb(231, 231, 231);
}
.signe{
  height: 100vh;
  background-image: url(../../images/1635.jpg);
  background-size:cover ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-reserv{
  position: relative;
  width: 800px;
  background-color: var(--white-color);
  box-shadow: 0 0 50px var(--wrapper-shadow-color);
  border: 5px solid var(--wrapper-shadow-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  transform: scale(0.9);
}
.signee{
  height: 100vh;
  background-image: url(../../images/1635.jpg);
  background-size:cover ;
 
}

.wrapper__area{
  position: relative;
  width: 800px;
  height: 650px;
  background-color: var(--white-color);
  box-shadow: 0 0 50px var(--wrapper-shadow-color);
  border: 5px solid var(--wrapper-shadow-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  transform: scale(0.9);
}

/* Forms Area */
.forms__area{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin-right: 10px;
}
/* Form */
.forms__area form{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 20px 20px 10px 20px;
  transition: 1.2s cubic-bezier(0.18, 0.02, 0.36, 0.96);
  opacity: 1;
}
form.sign-up__form{ /* Hide The Sign Up */
  margin-top: -650px;
}
/* Form Title */
form .form__title{
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.title{
  font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.sign-up__form .form__title{ /* Sign Up Form Title */
  margin-bottom: 25px;
}
/* Input Group */
form .input__group{
  position: relative;
  width: 100%;
  margin: 10px 0;
}
/* Field */
form .input__group .field{
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
/* Field After ( For Border Animation Focus ) */
form .input__group .field::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
}
form .input__group .field:focus::after,
form .input__group .field:focus-within::after{
  transform: translateX(0);
}
/* Text And Password Inputs */
form .input__group input[type="text"],
form .input__group input[type="password"]{
  position: relative;
  outline: none;
  width: 100%;
  border: none;
  padding: 15px 40px 15px 40px;
  background: transparent;
  border-bottom: 2px solid var(--input-border-color);
}
/* Form Error */
form .formError .field input{
  border-color: var(--error-color);
}
/* FormSuccess */
form .formSuccess .field input{
  border-color: var(--success-color);
}
/* For Input Autofill */
form .input__group input:-webkit-autofill,
form .input__group input:-webkit-autofill:hover, 
form .input__group input:-webkit-autofill:focus, 
form .input__group input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  background: transparent;
}
/* Next Span */
form .input__group > span{
  position: absolute;
  font-size: 18px;
  color: var(--primary-light-gray);
  transition: 0.3s ease-in-out;
}
form .input__group input[type="text"]:focus ~ span,
form .input__group input[type="password"]:focus ~ span{
  color: var(--primary-color);
}
/* Input Icon */
form .input__group .input__icon{
  top: 13px;
  left: 13px;
  pointer-events: none;
}
/* Show Hide Icon */
form .input__group .showHide__Icon{
  top: 13px;
  right: 13px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
form .input__group .showHide__Icon:hover{
  color: var(--primary-color);
}
/* Error Message */
form .input__group .input__error_message{
  display: block;
  color:  var(--error-color);
  margin: 0 10px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
}
/* Form Error class */
form .formError .input__error_message{
  opacity: 1;
}
/* Form Success class */
form .formSuccess .input__error_message{
  opacity: 0;
}

/* Form Actions */
form .form__actions{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
/* EveryThing In The Form Action */
form .form__actions *{
  transition: 0.3s ease-in-out;
}
/* Next Label And Next Div */
form  .form__actions > label:hover,
form  .form__actions > div:hover{
  opacity: 0.7;
}
/* Remeber Me And Input */
.form__actions .remeber_me,
.form__actions .remeber_me input{  
  position: relative;
  cursor: pointer;
  font-size: 15px;
  color: var(--primary-light-gray);
}
/* Input And Checkmark box */
.form__actions .remeber_me input,
.form__actions .remeber_me .checkmark{
  width: 20px;
  height: 20px;
  top: 5px;
}
.form__actions .remeber_me input{
  opacity: 0;
  z-index: 2;
}
.form__actions .remeber_me .checkmark{
  position: absolute;
  left: 0;
  border: 2px solid var(--primary-light-gray);
  border-radius: 3px;
  z-index: 1;
}
/* Create Check Mark */
.form__actions .remeber_me .checkmark::after{
  content: "";
  position: absolute;
  opacity: 0;
  left: 5px;
  top: 2px;
  width: 3px;
  height: 8px;
  border: solid var(--primary-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  transition: 0.3s ease-in-out;
}
/* When Input Checkbox Is Checked */
.form__actions .remeber_me input:checked ~ .checkmark ~ span{
  color: var(--primary-color);
}
.form__actions .remeber_me input:checked ~ .checkmark{
  border-color: var(--primary-color);
}
.form__actions .remeber_me input:checked ~ .checkmark::after{
  opacity: 1;
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
}
/* Forgot Password */
.form__actions .forgot_password{
  position: relative;
  top: 4px;
  cursor: pointer;
  font-size: 15px;
  color: var(--primary-color);
  transition: 0.3s ease-in-out;
  font-weight: 550;
}

/* Submit Button */
button.submit-button{
  position: relative;
  width: 65%;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 16px 0;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 50px auto 10px ;
  display: block;
  outline: none;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  text-transform: uppercase;
}
.submit-button2{
  position: relative;
  width: 65%;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 16px 0;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 50px auto 10px ;
  display: block;
  outline: none;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  text-transform: uppercase;
}
.submit-button1{
  position: relative;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 16px 0;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 50px auto 10px ;
  display: block;
  outline: none;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  text-transform: uppercase;
}
.sign-up__form button.submit-button{ /* Sign Up Submit Button */
  margin-top: 25px;
}
button.submit-button:hover{
  opacity: 0.8;
}
button.submit-button:active{
  opacity: 1;
}

/* Alternate Login */
.alternate-login{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.sign-up__form .alternate-login{ /* Sign Up Alternate Login */
  margin-top: 25px;
}
.alternate-login .link{
  border: 2px solid var(--primary-light-gray);
  margin: 10px;
  padding: 7px 25px 5px;
  border-radius:50px;
  cursor: pointer;
  transition: 0.4s ease-out;
  color: var(--primary-light-gray);
}
.alternate-login .link:hover{
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.alternate-login .link i{
  font-size: 18px;
  position: relative;
  top: 2px;
}
/* Forms Animation */

/* When Sign Up Mode Is Active\ Sign Up Form */
form.sign-up__form{
  opacity: 0;
}
.wrapper__area.sign-up__Mode-active form.sign-up__form {
  margin-top: 0;
  opacity: 1;
}
/* When Sign Up Mode Is Active\ Login Form */
.wrapper__area.sign-up__Mode-active form.login__form {
  margin-top: 650px;
  opacity: 0;
}

/* End Forms Animation */

/* Aside Area */
.aside__area{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--aside-area-BG-color);
  border-radius: 5px;
  opacity: 1;
}
/* Sides */
.aside__area > div{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  transition: 1.2s cubic-bezier(0.18, 0.02, 0.36, 0.96);
  margin-top: 30px;
}
.aside__area > div h4{
  color: var(--white-color);
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 35px;
  position: absolute;
  left: 24px;
  top: -60px;
}
.aside__area > div img{
  width: 100%;
  pointer-events: none;
}
.aside__area > div p{
  color: var(--paragraph-color);
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.aside__area > div button{
  display: block;
  outline: none;
  background-color: transparent;
  width: 60%;
  margin: auto;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 14px 0;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: 0.5s ease-in-out;
}
.aside__area > div button:hover{
  border-color: var(--white-color);
  background-color: var(--white-color);
  color: vAR(--balck-color);
}
.aside__area > div button:active{
  opacity: 0.8;
}
/* Aside Animation */

/* When Sign Up Mode Is Active\ Sign Up Side */
.wrapper__area.sign-up__Mode-active .login__aside-info{ /* Login Aside */
  margin-top: -650px;
  opacity: 0;
}
/* When Sign Up Mode Is Active\ Login Side */
.sign-up__aside-info{ /* Sign Up Aside */
  opacity: 0;
}
.wrapper__area.sign-up__Mode-active .sign-up__aside-info{
  opacity: 1;
}

/* End Aside Animation */

/* End Wrapper Area */
.progress-bar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  padding: 30px;
  padding-left: 130px;
  padding-right: 130px;
}
.progress-step {
  text-align: center;
  position: relative;
}
.progress-step:before, .progress-step:after {
  background-color: #4caf50;
  content: "";
  height: 2px;
  position: absolute;
  z-index: 0;
  top: 20px;
}
.progress-step:after {
  left: 53%;
  width: 94%;
}
.progress-step:last-of-type.is-active:after {
  background-color: #4caf50;
}
@media screen and (min-width: 640px) {
  .progress-step:first-of-type:before {
    right: 53%;
    width: 50%;
 }
}
@media screen and (max-width: 640px) {
  .progress-step:first-of-type:before, .progress-step:last-of-type:after {
    background-color: white !important;
 }
}
.progress-step:last-of-type:after {
  left: 53%;
  width: 50%;
}
.progress-step .step-count {
  background-color: #4caf50;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  border-radius: 50%;
  color: white;
  z-index: 100;
  border: 2px solid white;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  counter-reset: step-count;
}

.progress-step.is-active .step-description {
  font-weight: 900;
  font-size: 20px;
}
.progress-step.is-active:after {
  background-color: #dad6ce;
}
.progress-step.is-active ~ .progress-step .step-count {
  background-color: #dad6ce;
}
.progress-step.is-active ~ .progress-step:after {
  background-color: #dad6ce;
}
.step-description {
  font-size: 20px;
}
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #4caf50;
}

.tab:hover {
  background-color: #4caf50;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}
#expiry-date{
  position: relative;
    outline: none;
    width: 100%;
    border: none;
    padding: 15px 40px 15px 40px;
    background: transparent;
    border-bottom: 2px solid var(--input-border-color)
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width:30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}